<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <a aria-label="GitHub" target="_blank" rel="noopener" href="https://github.com/Phantom-Intruder" title="GitHub">
      <img src="assets/img/header/github.svg" alt="Angular"width="28" height="28">
    </a>
    <a aria-label="StackOverflow" target="_blank" rel="noopener" href="https://stackoverflow.com/users/3730626/m-b" title="StackOverflow">
      <img src="assets/img/header/stackoverflow.svg" alt="Angular"width="28" height="28">
    </a>
    <a aria-label="LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/in/mewantha-bandara/" title="LinkedIn">
      <img src="assets/img/header/linkedin.svg" alt="Angular"width="28" height="28">
    </a>
    <a aria-label="Upwork" target="_blank" rel="noopener" href="https://upwork.com/freelancers/~0170c47a314ef06a17" title="Upwork">
      <img src="assets/img/header/upwork.svg" alt="Angular"width="28" height="28">
    </a>
    
</div>