<p>Built with:</p>
<img src="assets/img/angular-icon.svg" alt="Angular"width="50" height="50">
&nbsp;&nbsp;&nbsp;
<img src="assets/img/nodejs.svg" alt="NodeJs"width="50" height="50">
&nbsp;&nbsp;&nbsp;
<img src="assets/img/aws.svg" alt="AWS"width="50" height="50">
&nbsp;&nbsp;&nbsp;
<img src="assets/img/aws-route53.svg" alt="Route53" width="50" height="50">
&nbsp;&nbsp;&nbsp;
<img src="assets/img/aws-cloudfront.svg" alt="CloudFront"width="50" height="50">
&nbsp;&nbsp;&nbsp;
<img src="assets/img/aws-s3-simple-storage-service.svg" alt="S3"width="50" height="50">
&nbsp;&nbsp;&nbsp;
<img src="assets/img/github.svg" alt="GitHub"width="50" height="50">
&nbsp;&nbsp;&nbsp;
<img src="assets/img/file-type-azurepipelines.svg" alt="Azure Devops"width="50" height="50">