<app-header></app-header>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-site-body></app-site-body>
    </div>
  </div>
</div>
<br/>
<br/>
<hr/>
<h2>What is this?</h2>
<p>Initially, I was planning to create an ordinary portfolio page, but that seemed unoriginal and wouldn't do much to show my DevOps skills. This was the alternative I came up with. A fully automated build, test, and release pipeline which you can watch unfold right in front of your eyes!</p>
<hr/>
<div class="card">
  <div class="card-body">
    List of commited strings:
  </div>
</div><div class="card"><div class="card-body">Random String</div></div><div class="card"><div class="card-body">Another string</div></div><div class="card"><div class="card-body">Rand44242om String</div></div><div class="card"><div class="card-body">adfds</div></div><div class="card"><div class="card-body">fffff</div></div><div class="card"><div class="card-body">Random Stringfff</div></div>